@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

#main-body:fullscreen {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}

/* prefix for Chrome & Safari */
#main-body:-webkit-full-screen {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  /* font-family: "Asap", sans-serif; */
}

body {
  background: #42455a;

}
html{
  scroll-snap-type: y mandatory;
  transition: ease-in-out 1s;
}

section {
  min-height: 102vh;
  scroll-snap-align: start;
  height: 100vh;
  background: url(./back.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-1-anim {
  /* background: url(./first.gif); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-1-anim ul {
  padding: 0 4vw;
}



section#side-1 {
  /* color: #e0ffff; */
  background: url(./side1.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section p {
  font-size: 30px;
  font-weight: 200;
}

section span {
  font-weight: 600;
}

.img-back {
  position: relative;
  width: 10%;
  /* z-index: -999; */
  height: auto;
  top: 85%;
  left: 85%;
}
.content{
  margin-top: -5%;
}

section#side-2-anim {
  /* color: #42455a;
  background: #e0ffff; */
  font-weight: 300;
}
.background{
  background: url(./back.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-2-anim .item {
  width: 30%;
  padding-top: 15px;
}
section#side-2-anim .second{
  padding-left: 50px;
}
section#side-2-anim .third{
  margin-top: -190px;
}
section#side-2-anim ul{
  padding-left: 25px;;
}

section#side-2 {
  /* color: #e0ffff; */
  /* background: url(./side2.png); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-3-anim {
  /* background: url(./third.gif); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-3 {
  background: url(./side3.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-4-anim {
  /* background: url(./fourth.gif); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-4 {
  background: url(./side4.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-5-anim {
  /* background: url(./fifth.gif); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

section#side-5 {
  background: url(./side5.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}


section .container {
  margin: 40px;
  width: 60%;
}

section h2 {
  font-size: 40px;
  /* text-align: center;
  text-transform: uppercase; */
}

section .text-container {
  display: flex;
  padding-right: 100px;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  /* background: #00c2cb; */
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.row-reverse .container {
  margin: 0px;
}

.row img {
  width: 30%;
  height: auto;
}



.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
section#side-1-anim .icon-scroll{
  margin-left: 200px;
  margin-top: 100px;
  box-shadow: inset 0 0 0 1px #fff;
}
section#side-1-anim .icon-scroll:before{
  /* background: #fff; */
}

section#side-2-anim .icon-scroll{
  margin-top: -100px;
  margin-left: -250px;
  box-shadow: inset 0 0 0 1px #000;
}
section#side-5-anim .icon-scroll{
  margin-left: -250px;
}
section#side-3-anim .icon-scroll{
  margin-top: -300px;
}
section#side-2-anim .icon-scroll:before{
  /* background: #ed1c25; */
}
.icon-scroll {
  width: 40px;
  height: 70px;
  top: 50%;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  margin-left: -4px;
  background: #ed1c25;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}




/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.full {
  position: fixed;
  color: white;
  right: 10px;
  top: 10px;
  font-weight: 600;
  font-size: 2em;
}


.phone {
  height: 150px;
  width: 300px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
  display: flex;
}

.message {
  color: white;
  font-size: 5em;
  margin-top: 150px;
  display: flex;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(-90deg)
  }

  100% {
    transform: rotate(-90deg)
  }
}

/* @media only screen and (max-device-width: 812px) and (orientation: landscape) {

  .phone,
  .message {
    display: block;
  }
} */

#fliper {
  flex-direction: column;
  display: flex;
  align-items : center;
  justify-content: center;
}

.text-200 {
  font-weight: 200;
  font-size: 1.3em;
}